<!DOCTYPE html>
<html ng-app="myModule">



<body>
<!-- directive -->


<div ng-controller="myController">

   <div>
  {{ employe.firstName }}
  </div>

  <div>
    {{ employe.lastName }}
  </div>

  <div>
    {{ employe.gender }}
  </div>
</div>


<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.min.js"></script>
-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.js"></script>
<script src="js/script.js"></script>

</body>
</html>
